* {
  margin: 0;
  padding: 0;
}

#header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

body {
  background: #35363a;
}

.navbar {
  padding: 50px 0;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5em;
}

.navbar-dark .navbar-brand {
  color: #dcdde1;
}

.nav-item {
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  background: #dcdde1;
  color: #262626;
}

.main1 {
  position: relative;
  background: #35363a;

  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 220px 0 200px;
}

.main1 h2 {
  margin: 0;
  padding: 0;
  font-size: 2.6em;
  color: #dcdde1;
  text-transform: uppercase;
  font-weight: bold;
}
.main1 p {
  margin-top: 1em;
  padding: 0;
  font-size: 1em;
  color: #dcdde1;
}

.main1 .btn {
  background: #718093;
  color: #fff;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .main1 {
    padding: 200px 0;
  }

  .main1 h2 {
    font-size: 2em;
  }
}

.wrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

path {
  stroke: #fff;
  fill: #fff;
  stroke-dasharray: 1800;
  opacity: 10;
  animation: animate 3s cubic-bezier(0, 0.23, 1, 1);
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }

  90% {
    fill: rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 10;
    fill: rgba(255, 255, 255, 0);
    stroke-dashoffset: 0;
  }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.content {
  position: relative;
}

.content h2 {
  position: absolute;

  transform: translate(-50%, -50%);
  font-size: 4em;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(1% 47%, 14% 50%, 33% 57%, 44% 64%, 59% 67%, 75% 67%, 95% 63%, 100% 54%, 100% 100%, 1% 100%);
  }
  50% {
    clip-path: polygon(0 82%, 12% 76%, 29% 73%, 45% 70%, 59% 60%, 75% 54%, 88% 52%, 100% 54%, 100% 100%, 1% 100%);
  }
}
