<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fich-heading" jhiTranslate="riverApp.fich.home.createOrEditLabel">Create or edit a Fich</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="riverApp.fich.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="riverApp.fich.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="riverApp.fich.planimg" for="field_planimg">Planimg</label>
                    <div>
                        <div *ngIf="editForm.get('planimg')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('planimgContentType')!.value, editForm.get('planimg')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('planimgContentType')!.value}}, {{byteSize(editForm.get('planimg')!.value)}}</span>
                            <button type="button" (click)="editForm.patchValue({planimg: null});editForm.patchValue({planimgContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_planimg" (change)="setFileData($event, 'planimg', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="planimg" id="field_planimg"
                           formControlName="planimg"/>
                    <input type="hidden" class="form-control" name="planimgContentType" id="field_planimgContentType"
                           formControlName="planimgContentType" />
                    <div *ngIf="editForm.get('planimg')!.invalid && (editForm.get('planimg')!.dirty || editForm.get('planimg')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('planimg')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="riverApp.fich.projet" for="field_projet">Projet</label>
                    <select class="form-control" id="field_projet" name="projet" formControlName="projet">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projetOption.id === editForm.get('projet')!.value?.id ? editForm.get('projet')!.value : projetOption" *ngFor="let projetOption of projets; trackBy: trackById">{{projetOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
